<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= Motor.company_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" media="all" href="<%= Motor::Assets.asset_path('main.css') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= yield %>
    <script src="<%= Motor::Assets.asset_path('main.js') %>"></script>
    <% if params[:controller] === 'motor/ui' %>
      <%= raw(custom_html) %>
    <% end %>
  </body>
</html>
